.left{ 
    font-size: 26px;
    color: rgba(216, 177, 49, 0.90);
    margin-top: 32%;
   
}
.left h1{
    font-size: 2.5em;
}
.left h3{
    font-size: 1.25em;
}
.right{
    border-radius: 25px;
    border: rgba(216, 177, 49, 0.90) solid 2px;
    box-shadow: 10px 20px #000 ;
    margin-top: 61%;
    margin-left: 25%;
}
@media screen and (max-width: 772px){
    body{
        height: 100%;
    }
    #root{
        width: 100%;
    }
    .left{ 
        margin-top: 10%;
        margin-left: 10%;
    }
    .right{
        margin-top: 10%;
        margin-left: 10%;
        width: 70%
    }
    
}
