.navBar{
    color: white !important;
    background: #000 !important;
}
.popup{
    color: white !important;
    background: #000 !important;
    top: 63px !important;
    left: 0 !important;
    border-radius: 0px;
}

.menuItems a{
    color: #fff !important;
    text-decoration: none;
}

.icons{
   /* margin-top: 13px;*/
   padding-right: 10px;
   color:  rgba(216, 177, 49,0.75) !important;
}
.icons:hover{
   color:  rgba(216, 177, 49,0.95) !important;
}
.menuItems:hover{
    background:  rgba(216, 177, 49,0.95) !important;
}
.logo{
    background: -webkit-linear-gradient(rgba(216, 177, 49, 1), rgba(216, 177, 49, 0.55));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.logo:hover{
    background: -webkit-linear-gradient(rgba(216, 177, 49, 1), rgba(216, 177, 49, 0.95));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}