#root, html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
   background: url('./components/background3.png') no-repeat fixed center;
}

.pageTitle{
  font-size: 2.5em !important;
  color:rgba(216, 177, 49, 0.90) !important;
  text-decoration: underline;
  margin-bottom: 20px;
}
.footerPadding{
  margin-bottom: 50px;
}
.spacer{
  margin-bottom: 20px;
}

